@font-face {
  font-family: vividly;
  src: url("/Font/Vividly-Regular.ttf");
}

body {
	background-image: url("/Photos/viewProfileBg.png");
  	background-repeat: no-repeat;
  	background-size: cover;
	font-family: vividly;
}

.rectangle {
	margin: -10px 0 0 -8px;
	width: 1280px;
	height: 120px;
	background: #007DD1;
	color: white;
}

.userInformation {
	margin: -10px 0 0 -500px;
	color: #007DD1;
	font-size: 200%;
	text-align: center;
}

.hello {
	margin: 50px 0 0 0px;
	font-size: 230%;
	color: #F9705A;
}

input[type="submit"] {
	border: 0px;
	outline: none;
	padding: 8px;
	color: white;
	background-color: #FF6248;
	font-family: vividly;
	font-size: 80%;
}

input[type="text"] {
	border: 2px;
	padding: 5px;
	color: white;
	background-color: #007DD1;
}

#username {
	margin: 0 0 0 10px;
}

#lastname {
	margin: 0 0 0 10px;
}